.App {
  text-align: center;
}

a {
  color: rgb(38, 38, 38);
  text-decoration: none;
}

button:hover {
  color: #6E7582
}

button {
  background-color: transparent;
  border: none;
}

#about {
  color: black;
  margin-left: 5%;
}

.about-text {
  margin: 5%;
  align-items: left;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
}

#nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo {
  width: 50px;
}

#projects {
}

#skills {
  margin: 5%;
}

.image {
  width: 25%;
  padding: 5px;
}

.icon {
  margin: 20px;
}

#contact {
  bottom:0%;
}