.App {
  text-align: center;
}

a {
  color: rgb(38, 38, 38);
  text-decoration: none;
}

a:hover {
  color: #6E7582
}

#about {
  color: black;
  margin: 5%;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-projects {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

#nav {
  margin: -10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 0.6797312675070029) 0%,
    rgba(148, 187, 233, 0.6237088585434174) 100%
  ); */
}

#logo {
  width: 50px;
}

#skills {
  margin: 5%;
}

.image {
  width: 20%;
}
