body {
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 0.6797312675070029) 0%,
    rgba(148, 187, 233, 0.6237088585434174) 100%
  );
  min-height: calc(var(--vh, 1vh)*90);
  border: 1px solid rgba(38, 38, 38, 0.951);
  margin: 2%;
  font-family: "Neue Montreal";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h1 {
  color: #000000;
  font-weight: 200;
}

p {
  color: black; 
}