.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

table, th {
  border: 1px solid black;
  padding: 3px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 10px;
  background-color: aqua;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rowCount {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
}

button {
  background-color: white;
  border: 1px solid black;
}

button:hover {
  background-color: rgb(140, 255, 249);
}